{% extends 'webapps/base.html' %} {% load crispy_forms_tags %}
 {% block content%}

<h1 class="text-center">Update Record</h1>
<div class="container form-layout">
  <form method="POST">
    {% csrf_token %} {{form.first_name|as_crispy_field}}

    <br />

    {{form.last_name|as_crispy_field}}

    <br />

    {{form.email|as_crispy_field}}

    <br />

    {{form.phone|as_crispy_field}}

    <br />

    {{form.address|as_crispy_field}}

    <br />

    {{form.city|as_crispy_field}}

    <br />

    {{form.province|as_crispy_field}}

    <br />

    {{form.country|as_crispy_field}}

    <button type="submit" class="btn btn-outline-primary">Update</button>
  </form>
</div>
{% endblock %}
